@{
    ViewBag.Title = "VentureSketch Admin Page";
    ViewBag.Description = "Add/Remove/Edit VentureSketchEntities Here";
}

<br /><br />
<div class="row">
    <ul>
        <li>@Html.ActionLink("Manage Qualifications", "Qualifications", "Admin")</li>
    </ul>
</div>
