<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VentureSketchConnectionString" connectionString="Data Source=sql9.hostinguk.net;Initial Catalog=VentureSketch;Persist Security Info=True;User ID=guideske;Password=d0v1w2s3t4n5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>